<div>
  <h2>Comments</h2>

  <ul class="comments" *ngIf="comments && comments.length; else elseBlock">
    <li *ngFor="let comment of comments">
      <div class="comment">
        <div class="badge">{{ comment.id || -1 }}</div>
        <div class="right">
          <span>{{comment.name}}</span>
          <!-- it isn't specified in the given template -->
          <!--<span class="separator"></span> <span>{{comment.email}}</span>-->
          <p>{{comment.body}}</p>
        </div>
      </div>
    </li>
  </ul>

  <ng-template #elseBlock>No comments yet</ng-template>

  <form class="addcomment-form"  [formGroup]="addcommentForm"  (ngSubmit)="onClickAddComment()">
    <mat-form-field class="addcomment-full-width">
      <mat-label>Add a comment</mat-label>
      <textarea matInput formControlName="body" placeholder=""></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary" rows="2" [ngClass]="'addcomment-btn'">Send</button>
  </form>
  <!--app-addcomment></app-addcomment>-->

</div>