<div class = "comments-container">
  <h2>Comments</h2>

  <mat-spinner *ngIf="loading" mode="indeterminate"> </mat-spinner>

  <ul class="comments" *ngIf="comments && comments.length; else elseBlock">
    <li *ngFor="let comment of comments">
      <div class="comment">
        <div class="badge">{{comment.avatarInitials}}</div>
        <div class="right">
          <span>{{comment.name}}</span>
          <!-- other data aren't specified in the given template -->
          <p>{{comment.body}}</p>
        </div>
      </div>
    </li>
  </ul>

  <ng-template #elseBlock>
    <p *ngIf="!loading && !errorMessage"> No posts yet </p>
  </ng-template>

  <p class = "error-message" *ngIf="errorMessage">{{errorMessage}}</p>

  <form class="addcomment-form" [formGroup]="addcommentForm" (ngSubmit)="onClickAddComment()">
    <mat-form-field class="addcomment-full-width">
      <mat-label>Add a comment</mat-label>
      <textarea matInput formControlName="body" placeholder="" ></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary" rows="2" [ngClass]="'addcomment-btn'">Send</button> 
  </form>
  <!--app-addcomment></app-addcomment>-->

</div>