.content-login {
    display: flex;
}

.box {
    margin: auto;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 10px;
}

.login-btn {
    width: 100%;
}

.error-message {
    background-color: rgb(253, 186, 186);
    text-align: center;
    color: darkred;
    border-radius: 5px;
    width: 100%;
    max-width: 290px;
    padding: 10px;
}