<div class="app">
  <mat-spinner *ngIf="loading" mode="indeterminate" else elseBlock></mat-spinner>
  <!--
    <div class="header">
    <h1>Blog</h1>
  </div>
-->
  <!--<ng-template #elseBlock>-->
    <div class="content-router">
      <!--
  <nav>
    <ul>
      <li><a routerLink="/posts" routerLinkActive="active">Posts Component</a></li>
    </ul>
  </nav>
-->
      <router-outlet></router-outlet>
    </div>
    <!--
  <div class="footer">Author: Petenazzi</div>
-->
  <!--</ng-template>-->
</div>