<div class='content-login'>
  <div class="box">
    <h1 class="title">Login</h1>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-flat-button color="primary" [ngClass]="'login-btn'">Login</button>

  </div>
</div>
<div class="content-router">
  <nav>
    <ul>
      <li><a routerLink="/posts" routerLinkActive="active">Posts Component</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>