<div>
  <h2>Posts</h2>

  <div class="posts" *ngIf="posts && posts.length; else elseBlock">
    <li *ngFor="let post of posts" class="post">
      <a [routerLink]="['/post', post.id]" >
        <div class="badge">{{ post.id || -1 }}</div>
        <div class="right">
          <span>{{post.title}}</span> <span class="separator"></span> <span>{{post.userId}}</span>
          <p>{{post.body}}</p>
        </div>
      </a>
    </li>
  </div>

<ng-template #elseBlock>No posts yet</ng-template>

</div>