/* the application is suppoed to be used by desktop devices */
.postsContainer{
    position: relative;
}

h2 {
    padding: 20px 20px 40px 20px;
    text-align: center;
}

.logout{
    position: absolute;
    right: 0;
}

.logout:hover {
    background-color: #f3f3f3;
}

.post {
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.post:hover {
    background-color: #f3f3f3;
}

.post a {
    display: flex;
    margin: 5px;
}

.post .badge {
    width: 40px;
    height: 40px;
    padding: 20px;
    background-color: gray;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    font-size: 30px;
    color: white;
}

.posts {
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding: 0px;
}

.post .right{
    flex: 1;
    padding: 5px 0px;
}

.post .separator {
    padding-right: 10px;
    border-left: 2px solid #444;
    margin-left: 10px;
}

.post p {
    margin: 10px 0px 0px 0px;
    max-width: 60em;
    height: 1.1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post span {
    font-weight: 500;
}
.post span.username {
    color: gray;
}

a {
    text-decoration: none;
    color: black;
}

.error-message {
    background-color: rgb(253, 186, 186);
    text-align: center;
    color: darkred;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}